.Rectangle-1 {
  margin-left: 17.2%;
  margin-top: 3.8%;
  margin-right: 17.2%;
  display: flex;
  justify-content: center;
}

.Rectangle-2 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3.8%;
  margin-bottom: 12.5%;
  padding: 2%;
  display: flex;
  flex-grow: 2;
  overflow: hidden;
  /* flex-wrap: wrap; */
  height: 520px;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.dynamic {
  display: flex;
  margin-left: 8%;
  margin-top: 5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.form-header h2{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 5px;
  text-align: center;
  color: #343534;
  flex-wrap: wrap;
}

.submit-button {
  border: solid 1px #23c994;
  color: #23c994;
  height: 35px;
  width: 92px;
  float: left;
  background-color: #ffffff;
}

.redirect {
  white-space: nowrap;
  margin-top: 25%;
  color: #8c949c;
  font-family: Roboto;
  font-weight: 300;
}

.redirect-link {
  cursor: pointer;
  font-family: Roboto;
  text-decoration: none;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #23c994;
}

.bi {
  width: auto;
  height: 424px;
  margin-top: 5%;
  padding-left: 5%;
  object-fit: contain;
}

.body-image {
  /* overflow: hidden; */
  display: inline-block;
  grid-column-start: 6;
}

@media only screen and (min-width: 1530px){
  .Rectangle-2 {
    margin-left: 15%;
    margin-right: 15%;
  }

}

@media only screen and (min-width: 1540px) and (max-width: 2050px){
  .Rectangle-2 {
    margin-left: 20%;
    margin-right: 20%;
  }

}
